.button {
  background-color: $yellow;
  border: none;
  color: #fff;
  font-size: 18px;
  padding-inline: 30px;
  line-height: 40px;
  border-radius: 30px;
  margin-top: 30px;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  @include xl {
    line-height: 60px;
    padding-inline: 60px;
  }
  &:hover {
    background-color: $yellow-200;
  }
}
