.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  &__mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    @include lg {
      margin-top: 0;
    }
  }
}
