.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 550px;
  @include lg {
    max-height: initial;
  }
  &__mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    justify-content: flex-end;
    margin-top: 15px;
    @include lg {
      margin-top: 0;
    }
  }
}
