.navbar {
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  transform: translateX(100vw);
  z-index: 1001;
  transition: all 0.3s ease-in;
  justify-content: space-around;
  overflow: scroll;
  background-color: rgba($color: $black, $alpha: 0.95);
  @include lg {
    overflow: hidden;

    height: 120px;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
  }
  &__container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 80px;
    width: 98%;
    max-width: 1350px;
    transition: all 0.3s ease-in;
    justify-content: space-around;
    row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    @include lg {
      height: 100%;
      border-bottom: 1px solid #fff;
      top: 0;

      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__social-links {
    width: 100%;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    @include lg {
      margin-bottom: 0;
      margin-right: 80px;
      width: 110px;
      justify-content: flex-start;
    }
  }
  &__menu-links {
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    @include lg {
      flex-grow: 1;
      flex-direction: row;
      justify-content: center;
      margin-top: 0;
      gap: 20px;

      justify-content: space-between;
    }
    @include xl {
      gap: 40px;
    }
  }

  &__link {
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    letter-spacing: 1px;
    img {
      &:hover {
        filter: $yellow-filter;
      }
    }
    &:hover {
      color: $yellow;
    }
  }
  &__logo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @include lg {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }
  &__logo-img {
    &:hover {
      filter: $yellow-filter;
    }
  }
  &--active {
    display: flex;
    width: 100%;
    transform: translateX(0);
  }
}
