.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  background-color: rgba($color: $black, $alpha: 1);

  @include xl {
    padding: 20px 0;
  }
  &__mask {
    position: absolute;
    top: -380px;
    left: 0;
    overflow: hidden;
    bottom: 0;
    img {
      object-fit: cover;
      height: 100%;
      position: center;
      width: 100%;
    }
  }
  &__content {
    width: 100%;
    max-width: 1350px;
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--line {
      background-color: $gray;
      height: 1px;
      width: calc(50% - 80px);
    }
  }
  &__copyright {
    max-width: 380px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin: 50px auto;
  }
  &__navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 50px;
    justify-content: center;
    margin: 40px auto 0 auto;

    @include sm {
      max-width: 70%;
    }
    @include md {
      display: flex;
    }
  }
}
