.gallery {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__pictures {
    margin-top: 20px;
    display: grid;
    justify-content: center;
    row-gap: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 40px;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }
    @include xl {
      grid-template-columns: repeat(4, 1fr);
      padding-right: auto;
      padding-left: auto;
    }
  }
}
