$black: #222222;
$gray-100: #eeeeee;
$gray: #777777;
$yellow: #d4b254;
$yellow-200: #c29b2f;

$yellow-filter: brightness(0) saturate(100%) invert(99%) sepia(49%)
  saturate(7492%) hue-rotate(314deg) brightness(89%) contrast(86%);
